{% extends "tardis_portal/portal_template.html" %}

{% block fullpage %}
<div id="content">
    <div class="post">
        <h1 class="title"><a name="abouttardis">Partners</a></h1>
        <div class="entry">
            <h3>List of Partners</h3>
            <blockquote>
                
                <br/>
                <img alt="University of Sydney" src="http://sydney.edu.au/images/common/university_sydney_logo.gif">
                <br/>
                <br/>
                <br/>
                <img alt="Australian Synchrotron" src="http://www.synchrotron.org.au/templates/australian-synchrotron/images/header.jpg">
                <br/>
                <br/>
                <img alt="Intersect Australia" src="http://www.intersect.org.au/images/img_logo.gif">
                <br/>
                <br/>
            </blockquote>
            <h3>List of Contacts</h3>
            <blockquote>
                Emeritus Professor Jules Mitchell Guss
                <br/>
                <strong><a href="mailto:mitchell.guss@sydney.edu.au" target="_blank">mitchell.guss@sydney.edu.au</a></strong>
                <br/>
                <br/>
                Mr Andrew Cooper
                <br/>
                <strong><a href="mailto:andrew.cooper@sydney.edu.au" target="_blank">andrew.cooper@sydney.edu.au</a></strong>
                <br/>
                <br/>
                Dr Peter Turner
                <br/>
                <strong><a href="mailto:p.turner@chem.usyd.edu.au" target="_blank">p.turner@chem.usyd.edu.au</a></strong>
                <br/>
                <br/>
            </blockquote>
            <br/>
            <br/>
        </div>
    </div>
</div>
{% endblock fullpage %} 